/Assignment.class
/BinOp.class
/Block.class
/Condition.class
/Emitter.class
/Expression.class
/If.class
/Number.class
/ProcedureCall.class
/ProcedureDeclaration.class
/Program.class
/Statement.class
/Variable.class
/While.class
/Writeln.class
